@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200;300&display=swap');

body {
  font-size: 120%;
  font-family: 'Spartan', sans-serif;
  background-color: #FFF4E4;
}

button, input {
  font-size: 80%;
  font-family: 'Spartan', sans-serif;
}

table {
  width: 100%;
}

td, th {
  border: 2px solid #4C5760;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #A790A5;
}
tr:nth-child(odd) {
  background-color: whitesmoke;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  font-size: 150%;
  background-color: #A790A5;
  border: solid black 2px;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}

#headline {
  color: #A790A5;
}
